@import '../variables.scss';
// About
.profile-container {
    position: relative; background-color: #ADAAA6;
    img {
        width: 100%;
    }
    img + div {
        position: absolute;
        top: 50%;
        display: flex;
        flex-direction: column;
        padding: 0 20xp;
        span {
            color: white;
            font-weight: 800; font-size: 3rem;  padding: 0 50px;
        }
        span:last-child{
            padding-top: 30px;
        }
    }
}
// Skill
.skill-container {
    background-color: $skill-background-color;
    & > div {
        padding: 10rem 2rem 2rem 2rem; color: white;
    }
    ul {
        display: flex; flex-wrap: wrap; padding: 0 2rem 3rem 2rem;
        li {
            width: 28%; margin-top: 3rem; margin-right: 2rem;
            height: 200px;
            border-top: 1px solid white;
            color: white;
            font-size: 1.7rem; height: fit-content; padding-top: 15px;
            span:nth-child(2) {
                display: block;
            }
            span:last-child {
                font-size: 1rem; letter-spacing: 0.01rem;
            }
        }
        .empty-box {
            border: none;
        }
    }
}
// projects 
.skill-list {
    position: absolute;
        bottom: 0;
        padding: 30px 0;
    ul {
        display: flex;  padding: 10px 0;
        img {
            width: 30px; margin-right: 5px;
        }
        .circle-wrapper {
            margin-right: 5px; width: 30px; height: 30px; background-color: black; border-radius: 50%; padding: 2px;
            img {
                width: 78%;
                padding-top: 3px;
                padding-left: 2px;
            }
        }
    }
    
}
.section-title {
    padding: 2rem 2rem 0 2rem;
}
.white {
    color: white;
}
.hoverd-txt {
    color: red; font-weight: 700;
}
.icon-wrapper {
    background-color: $skill-background-color;
    width: 32px;
    height: 32px; 
    border-radius: 50%; margin-right: 5px;
    img {
        width: 21px !important;
        margin: 4px !important;
    }
}
.project-wrapper {
    position: relative; height: 800px; white-space: pre-line;
    .slick-slide{
        height: calc(100% - 111px);
        & > div {
            height: 100%;
        }
    }
    .slick-list, .slick-track{
        height: 100%; 
    }
    .project-slide {
        padding: 0 30px; white-space: pre-line;height: calc(100% - 111px);
        display: flex !important; justify-content: space-evenly;
        & > * {
            width: 45%; 
        }
        & > div:first-child {
            flex-direction: column;
        }
        .callback-img {
            align-self: center;
            text-align: -webkit-center;
            img {
                width: 100%;
                height: 450px;
            }
        }
        .detail {
            align-self: center; height: 100%;     height: 100%;
            display: flex;
            justify-content: center;
            h2 {
                font-size: 1.5rem; font-weight: 700; margin-bottom: 20px;
            }
        }
       
        .portal-img {
            background: white; border: 2px solid;     height: 63%;
            width: 100%; align-self: center; border-radius: 15px;
            .top {
                width: 100%;  height:50px;  border-bottom: 1px solid; display: flex; justify-content: space-between; padding: 0 10px;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                height: 100%;
                align-items: center;
                display: flex; padding: 0 10px;
                li:not(.icon-wrapper) {
                    width: 25px;
                    height: 25px; 
                    border-radius: 50%; margin-right: 5px;
                }
               
                li:first-child {
                    background-color: $border-grey-color;
                }
                li:nth-child(2) {
                    background-color: $skill-background-color;
                }
                li:last-child {
                    background-color: $border-grey-color;
                }
            }
            .top-input {
                text-overflow: ellipsis;
                overflow: hidden;  white-space: nowrap;
                width: 200px; border-radius: 5px; border: 1px solid; margin: 5px 0; padding: 5px;
            }
            }
            .bottom {
                position: relative;
                height: calc(100% - 50px);
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    position: absolute;
                    padding: 20px;
                    margin: auto;
                    top: 200px;
                    right: 40px;
                cursor: pointer;
                    transition: width 0.3s ease
                }
               
                div {
                    text-align: center;
                    padding: 100px;
                }
            }
        }
    }
    .project-list {
        height: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        li {
            cursor: pointer;
            width: 15px; border-radius: 3px; border: 2px solid; margin-right: 5px; 
        }
        .selected-list {
            background-color: black;
        }
    }
}
// contact
.contact-wrapper {
    background-color: $skill-background-color; 
    ul {
        display: flex; padding: 20px;
        li {
            border-radius: 50%; align-self: center; margin: 0 5px;
            width: 50px; height: 50px; cursor: pointer;
            img {
                width: 30px;
                display: flex;
                margin: auto;
                margin-top: 9px;
            }
        }
        .contact-hover {
            background-color: $border-grey-color;
        }
    }
}
/* 노트북 & PC (해상도 1024px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
// About
.profile-container {
    b
    img + div {
        span {
             font-size: 2rem;  
        }
    }
}
// Skill
.skill-container {
    ul {
        li {
            width: 41%;
        }
        .empty-box {
            display: none;
        }
    }
}
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (max-width:767px) {
// About
.profile-container {

img + div {
    span {
        font-size: 1.3rem;  
    }
}
}
// Skill
.skill-container {
    ul {
        li {
            width: 90%;
        }
        .empty-box {
            display: none;
        }
    }
} 
}